
            <div class="row">
                    <div class="headingFilter">
                       <div class="col-md-8">
                          <h3>Total Client’s (<span class="clientCount"></span>) </h3>
                       </div>
                       <!-- col-md-6 -->
                       <div class="col-md-4">
                          <div class="bothSelect">
                             <span class="SelectFilter">
                                <select class="form-control ">
                                   <option>Group by Activity</option>
                                   <option>Group by Activity</option>
                                   <option>Group by Activity</option>
                                   <option>Group by Activity</option>
                                   <option>Group by Activity</option>
                                   <option>Group by Activity</option>
                                   <option>Group by Activity</option>
                                </select>
                             </span>
                             <!-- #SelectFilter -->
                             <span class="SelectFilter">
                                <select class="form-control ">
                                   <option>List view</option>
                                   <option>List view</option>
                                   <option>List view</option>
                                   <option>List view</option>
                                   <option>List view</option>
                                   <option>List view</option>
                                   <option>List view</option>
                                </select>
                             </span>
                             <!-- #SelectFilter -->
                          </div>
                          <!-- #bothSelect -->
                       </div>
                       <!-- col-md-6 -->
                    </div>
                    <!-- #headingFilter -->
                 </div>