<div class="row">

               <div class="col-md-8">
                  <div class="topMainLeftBody">
                     <a href="javascript:;" class="backLink"><i class="fal fa-arrow-left"></i></a>
                     <a href="javascript:;" class="colorMode"><i class="far fa-moon-stars"></i></a>    
                     <div class="topSmallMenu">
                        <ul>
                           <li><a href="javscript:;">Projects <i class="far fa-chevron-down"></i></a></li>
                           <li><a href="javscript:;">Uptown Motions (um)</a></li>
                           <li><a href="javscript:;">Uptown Logo (ut)</a></li>
                        </ul>
                     </div>
                     <!-- #topSmallMenu -->
                     <a href="javascript:;" class="addMore"><i class="fal fa-plus"></i></i></a>    
                  </div>
                  <!-- topMainBody -->
               </div>
               <!-- col-md-8 -->

               <div class="col-md-4">
                  <div class="topMainRightBody">
                     <div class="notificationWrap">
                        <a href="javascript:;" class="notificationBell"><i class="fal fa-bell"></i> <span class="notificationType"></span></a>
                     </div>
                     <!-- #notificationWrap -->
                     <div class="userSettingMenu">
                        <a href="javascript:;" class="UserProfile">
                        <span class="UserPic"><img src="/pics/chatUser.jpg" alt="-" /> <span class="UserStatus"></span></span>
                        <span class="UserTxt">Hi, Vernon Klein</span>
                        </a>
                     </div>
                     <!-- #userSettingMenu -->
                  </div>
                  <!-- #topMainLeftBody -->
               </div>

            </div>
            <!-- row topMenu -->