<div class="row">
   <div class="headingFilter">
      <div class="col-md-6">
         <h3>Visitors’s Total <span id="totalVisitors" class="clientCount"></span> </h3>
      </div>
      <!-- col-md-6 -->
      <div class="col-md-6">
         <div class="bothSelect">
            <span class="SelectFilter">
               <select class="form-control ">
                  <option>Group by Activity</option>
                  <option>Group by Activity</option>
                  <option>Group by Activity</option>
                  <option>Group by Activity</option>
                  <option>Group by Activity</option>
                  <option>Group by Activity</option>
                  <option>Group by Activity</option>
               </select>
            </span>
            <!-- #SelectFilter -->
            <span class="SelectFilter">
               <select class="form-control ">
                  <option>Visual</option>
                  <option>Visual</option>
                  <option>Visual</option>
                  <option>Visual</option>
                  <option>Visual</option>
                  <option>Visual</option>
                  <option>Visual</option>
               </select>
            </span>
            <!-- #SelectFilter -->
         </div>
         <!-- #bothSelect -->
      </div>
      <!-- col-md-6 -->
   </div>
   <!-- #headingFilter -->
</div>
<!-- row -->
<div class="row">
   <div class="mainFilters">
      <div class="col-md-3">
         <div class="bothSelect">
            <h3>SERP Features type/name</h3>
            <span class="SelectFilter">
               <select class="form-control ">
                  <option>All</option>
                  <option>All</option>
                  <option>All</option>
               </select>
            </span>
            <!-- #SelectFilter -->
         </div>
         <!-- #bothSelect -->
      </div>
      <!-- col-md-3 --> 
      <div class="col-md-3">
         <div class="bothSelect">
            <h3>Groups</h3>
            <span class="SelectFilter">
               <select class="form-control ">
                  <option>All</option>
                  <option>All</option>
                  <option>All</option>
                  <option>All</option>
                  <option>All</option>
               </select>
            </span>
            <!-- #SelectFilter -->
         </div>
         <!-- #bothSelect -->
      </div>
      <!-- col-md-3 --> 
      <div class="col-md-3">
         <div class="bothSelect">
            <h3>Regions</h3>
            <span class="SelectFilter">
               <select class="form-control ">
                  <option>All</option>
                  <option>All</option>
                  <option>All</option>
                  <option>All</option>
                  <option>All</option>
               </select>
            </span>
            <!-- #SelectFilter -->
         </div>
         <!-- #bothSelect -->
      </div>
      <!-- col-md-3 -->
      <div class="col-md-3">
         <div class="bothSelect">
            <h3>Rankings</h3>
            <span class="SelectFilter">
               <select class="form-control ">
                  <option>All</option>
                  <option>All</option>
                  <option>All</option>
                  <option>All</option>
                  <option>All</option>
               </select>
            </span>
            <!-- #SelectFilter -->
         </div>
         <!-- #bothSelect -->
      </div>
      <!-- col-md-3 -->
   </div>
   <!-- #mainFilters -->
</div>
<!-- row -->