<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="/pics/favicon.ico" type="image"/>

<title><%= title %></title>
<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/css/new_bootstrap.min.css">
 <link rel="stylesheet" href="/css/mycss.css"> 
<link rel="stylesheet" href="/css/fontawrsompro5-all.min.css">
<!-- <link rel="stylesheet" href="/css/style.css"> -->
<link rel="stylesheet" href="/css/style_new.css">
<link rel="stylesheet" href="/css/chatpopup.css">
<link rel="stylesheet" href="/css/flages.css">

<style>
    form#chatForm {
    position: relative;
}

.image-upload {
    position: absolute;
    left: 100%;
}
.image-upload > input
{
    display: none;
}

.image-upload .attachment
{
    width: 20px;
    cursor: pointer;margin-top: 0 !important;
}

</style>
