<div class="col-md-2 menuSection">
   <div class="TopSpace"></div>
   <h3 class="menuHeading">Main Navigation</h3>
   <ul class="mainMenuUL">
      <li><a href="javascript:;"><i class="fad fa-chart-bar"></i> Home Dashboard</a></li>
      <li>
         <a href="javascript:;"><i class="far fa-repeat"></i> Visitors</a>
         <ul class="subMenuUL" style="">
            <li><a href="javascript:;">Served (4)</a></li>
            <li><a href="javascript:;">Active</a></li>
         </ul>
         <!-- #subMenuUL -->
      </li>
       <!-- <li class="active"><a href="javascript:;" class="openchat"><i class="fad fa-user"></i> Chat Popup</a></li> -->
   </ul>
   <!-- #mainMenuUL -->
   <div class="divider"></div>
   <h3 class="menuHeading">Analytics &amp; Reports</h3>
   <ul class="mainMenuUL">
      <li><a href="javascript:;"><i class="far fa-alarm-clock"></i> History</a></li>
      <li><a href="javascript:;"><i class="fas fa-chart-pie-alt"></i> Analytics &amp; Reports</a></li>
      <li><a href="javascript:;"><i class="far fa-tv"></i> Monitor</a></li>
      <li><a href="javascript:;"><i class="fal fa-cog"></i> Settings</a></li>
   </ul>
   <!-- #mainMenuUL -->
   <div class="divider"></div>
   <h3 class="menuHeading">Management</h3>
   <ul class="mainMenuUL">
      <li><a href="javascript:;"><i class="far fa-user-friends"></i> Team</a></li>
   </ul>
   <!-- #mainMenuUL -->
   <div class="divider"></div>
   <h3 class="menuHeading">Message Requests</h3>
   <ul class="mainMenuUL">
      <li><a href="javascript:;"><i class="far fa-comments"></i> 0 Requests</a></li>
   </ul>
   <!-- #mainMenuUL -->
</div>
