<div class="col-md-2 menuSection">
        <div class="TopSpace"></div>
        <h3 class="menuHeading">Main Navigation</h3>
        <ul class="mainMenuUL">
           <li><a href="/agent/dashboard"><i class="fad fa-chart-bar"></i> Home Dashboard</a></li>
           <li>
              <a href="javascript:;"><i class="far fa-repeat"></i> Visitors</a>
              <ul class="subMenuUL">
                 <li><a href="javascript:;">Served (4)</a></li>
                 <li><a href="javascript:;">Active</a></li>
              </ul>
              <!-- #subMenuUL -->
           </li>
           <!-- <li><a class="openchat" href="javascript:;"><i class="far fa-user"></i> Chats</a></li> -->
        </ul>
        <!-- #mainMenuUL -->
        <h3 class="menuHeading">Analytics &amp; Reports</h3>
        <ul class="mainMenuUL">
           <li><a href="javascript:;"><i class="far fa-alarm-clock"></i> History</a></li>
           <li><a href="javascript:;"><i class="fas fa-chart-pie-alt"></i> Analytics &amp; Reports</a></li>
           <li><a href="javascript:;"><i class="far fa-tv"></i> Monitor</a></li>
           <li>
              <a href="javascript:;"><i class="fal fa-cog"></i> Settings</a>
              <ul class="subMenuUL">
                 <li><a href="/agent/allagents">Agents</a></li>
                 <li><a href="/role/allroles">Roles</a></li>
              </ul>
              <!-- #subMenuUL -->
           </li>
        </ul>
     </div>