
body{/* display:flex; *//* align-items:center; *//* justify-content:center; *//* min-height:100vh; */background:#27ae60;font-family:"Source Sans Pro";font-size:1em;letter-spacing:.1px;color:#32465a;text-rendering:optimizeLegibility;text-shadow:1px 1px 1px rgba(0,0,0,0.004);-webkit-font-smoothing:antialiased;}


.chatWidget {width: 380px; height: 440px;position: fixed;  right: 10px;    bottom: 0;overflow: hidden;transition: all 0.5s ease;}
.chatWidget.active {height: 59px;transition: all 0.5s ease;}

#frame{width: 100%;min-width: 100%;max-width: 100%;height: 100vh;background: #fff;}
@media screen and (max-width: 360px) {
#frame{width:100%;height:100vh}
}

#frame .content{float:right;width: 100%;height:100%;overflow:hidden;position:relative;}
@media screen and (max-width: 735px) {
#frame .content{width:calc(100% - 58px);min-width: 100%;}
}

#frame .content .contact-profile{width:100%;height:60px;line-height:60px;background: #08c46d;border-top-left-radius: 10px;border-top-right-radius: 10px;}
#frame .content .contact-profile img{width:40px;border-radius:50%;float:left;margin:9px 12px 0 9px}
#frame .content .contact-profile p {float:left;color: #fff;font-size: 18px;font-weight: 600;position: relative;width: 70%;}
#frame .content .contact-profile p .AgentName{font-size: 18px;font-weight: 600;display: block;position: absolute;top: -10px;width: 100%;}
#frame .content .contact-profile p .AgentText  {font-size: 14px;display: block;position: absolute;top: 10px;}

#frame .content .messages{height:auto;min-height:calc(100% - 93px);max-height:calc(100% - 93px);overflow-y:scroll;overflow-x:hidden;width: 100%;padding: 0 0 60px 0;}
@media screen and (max-width: 735px) {
#frame .content .messages{max-height:calc(100% - 105px);width: 100%;padding: 0 0 50px 0;}
}
#frame .content .messages::-webkit-scrollbar{width:8px;background:transparent}
#frame .content .messages::-webkit-scrollbar-thumb{background-color:rgba(0,0,0,0.3)}
#frame .content .messages ul li{display:inline-block;clear:both;/* float:left; */margin:15px 15px 5px;width:calc(100% - 25px);font-size:.9em;position: relative;}
#frame .content .messages ul li:nth-last-child(1){margin-bottom:20px}
#frame .content .messages ul li.sent img{margin:6px 8px 0 0}
#frame .content .messages ul li.sent p{background: #f3f4f7;color: #303643;border-radius: 10px;border-top-left-radius: 0;}
#frame .content .messages ul li.replies img{float:right;margin:6px 0 0 8px}
#frame .content .messages ul li.replies p{background: #08c46d;float:right;color: #fff;border-radius: 10px;border-top-right-radius: 0;}
#frame .content .messages ul li img{width: 38px;border-radius:50%;float:left;}
#frame .content .messages ul li p{display:inline-block;padding:10px 15px;border-radius:20px;max-width:205px;line-height:130%;margin: 7px 0 -10px 0;}
@media screen and (min-width: 735px) {
#frame .content .messages ul li p{max-width:300px}
}
#frame .content .message-input{position:absolute;bottom:0;width:100%;z-index:99;background: #fff;padding: 10px 20px;border-top: 1px solid #f0f0f0;}
#frame .content .message-input .wrap{position:relative}
#frame .content .message-input .wrap input{font-family:"proxima-nova","Source Sans Pro",sans-serif;float:left;border:none;width:calc(100% - 90px);padding:11px 32px 10px 8px;font-size: 16px;color: #000;font-weight: 600;}
@media screen and (max-width: 735px) {
#frame .content .message-input .wrap input{padding:15px 32px 16px 8px}
}
#frame .content .message-input .wrap input:focus{outline:none}
#frame .content .message-input .wrap .attachment{position:absolute;right: 92px;z-index:4;margin-top: 15px;font-size: 21px;color: #d6d7da;opacity: 1;cursor:pointer;}
@media screen and (max-width: 735px) {
#frame .content .message-input .wrap .attachment{}
}
#frame .content .message-input .wrap .attachment:hover{opacity:1}
#frame .content .message-input .wrap button{float:right;border:none;width: 80px;padding: 5px 0;cursor:pointer;background: #08c46d;color:#f5f5f5;margin: 10px 0 0 1px;border-radius: 60px;}
@media screen and (max-width: 735px) {
#frame .content .message-input .wrap button{padding: 6px 0;}
}
#frame .content .message-input .wrap button:hover{background:#435f7a}
#frame .content .message-input .wrap button:focus{outline:none}