<!DOCTYPE html>
<html lang="en">
   <head>
      <% include ./parts/head.ejs %>
      <style>
         .tooltip {
         position: relative;
         display: inline-block;
         border-bottom: 1px dotted black;
         }
         .tooltip .tooltiptext {
         visibility: hidden;
         width: 120px;
         background-color: black;
         color: #fff;
         text-align: center;
         border-radius: 6px;
         padding: 5px 0;
         position: absolute;
         z-index: 1;
         top: 150%;
         left: 50%;
         margin-left: -60px;
         }
         .tooltip .tooltiptext::after {
         content: "";
         position: absolute;
         bottom: 100%;
         left: 50%;
         margin-left: -5px;
         border-width: 5px;
         border-style: solid;
         border-color: transparent transparent black transparent;
         }
         .tooltip:hover .tooltiptext {
         visibility: visible;
         }
      </style>
   </head>
   <body>

   
   
    <div class="container-fluid">
      <div class="chatMainWrap">
         <% include ./parts/agentDashboardTopMenu.ejs %>
         <% include ./parts/navigationSidebar.ejs %>
         
         <div class="col-md-10 mainBody">
            
               

               <% include ./parts/agentHeaderFilter.ejs %>

            
            <div class="ChatListing">
               <div>
                  <div class="AccordianChat">
                     <div class="item">
                        <div class="AccordianHead">
                           <div>
                              <a href="javascript:;" class="AccordianToggle1"><i class="far fa-chevron-up"></i></a>
                              <span class="ChatHeading">Currently Served <span id="totalOnline" class="countChats"></span>
                              <br>
                              <span class="subChatHeading">Chats shown in the table below is from live data</span>
                              </span>
                           </div>
                           <!-- #col-md-8-->
                        </div>
                        <!-- #AccordianHead -->
                     </div>
                     <div class="item-data active" style="display: block;">
                        <div class="AccordianBody">
                           <div class="ChatTable">
                              <table class="table">
                                 <thead>
                                    <tr>
                                       <th scope="col">&nbsp;</th>
                                       <th scope="col">Username</th>
                                       <th scope="col">Continent / Platform</th>
                                       <th scope="col">Online</th>
                                       <th scope="col">Agent</th>
                                       <th scope="col">Viewing</th>
                                       <th scope="col">Referrer</th>
                                       <th scope="col">Visits</th>
                                       <th scope="col">Chats</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    <tr>
                                       <td><a href="javascript:;"><img src="/images/clickicon.png" alt="-" /></a></td>
                                       <td><span class="userNameIntable">Chad Watts</span></td>
                                       <td><span class="newcountrycode"><span class="fgca"></span></span> 
                                          <img src="/images/browser-ch.jpg" alt="-" />
                                          <img src="/images/system-pc.jpg" alt="-" />
                                          <img src="/images/system-mac.jpg" alt="-" />
                                       </td>
                                       <td>1hr 3 mins</td>
                                       <td>Scott Perez</td>
                                       <td>Uptown Logo Design | Client Area..</td>
                                       <td><img src="/images/gicon.png" alt="-" />  google.com</td>
                                       <td>99</td>
                                       <td>1</td>
                                    </tr>
                                 </tbody>
                              </table>
                           </div>
                           <!-- #ChatTable -->
                        </div>
                        <!-- #AccordianBody -->
                     </div>
                  </div>
                  <!-- #AccordianChat -->
               </div>
               <!-- row -->
            </div>
         </div>
      </div>
   </div>  
   <% include ./parts/chatOverLayPopup.ejs %>
   <% include ./parts/footer.ejs %>
   <script src="/js/agentscriptForChat.js"></script>
   <script>
      function openChatAgent(visitorId){
        $('.userChatPupopWrap').show();
        $('.chatoverlay').show();
        $('#contactsList > ul > li.active').removeClass('active');
        $('#contactsList > ul > li[rel="' + visitorId + '"]').addClass('active');
      }

      $(document).ready(function () {
         //var rowCount = $('table.allvisitorsList > tbody > tr').length;
         var rowCount = $('.allvisitorsList').children('tr').length;
         $('.clientCount').text(rowCount);
      });

   </script>
   </body>
</html>