<!DOCTYPE html>
<html lang="en">
   <head>
      <% include ./parts/head.ejs %>
      <style>
         .tooltip {
         position: relative;
         display: inline-block;
         border-bottom: 1px dotted black;
         }
         .tooltip .tooltiptext {
         visibility: hidden;
         width: 120px;
         background-color: black;
         color: #fff;
         text-align: center;
         border-radius: 6px;
         padding: 5px 0;
         position: absolute;
         z-index: 1;
         top: 150%;
         left: 50%;
         margin-left: -60px;
         }
         .tooltip .tooltiptext::after {
         content: "";
         position: absolute;
         bottom: 100%;
         left: 50%;
         margin-left: -5px;
         border-width: 5px;
         border-style: solid;
         border-color: transparent transparent black transparent;
         }
         .tooltip:hover .tooltiptext {
         visibility: visible;
         }
      </style>
   </head>
   <body>

    <% include ./parts/chatOverLayPopup.ejs %>
   
    <div class="container-fluid">
      <div class="chatMainWrap">

         <% include ./parts/navigationSidebar.ejs %>
         
         <div class="col-md-10 mainBody">
            
               <% include ./parts/agentDashboardTopMenu.ejs %>

               <% include ./parts/agentHeaderFilter.ejs %>

            <div class="ChatListing">
               <div class="row">
                  <div class="AccordianChat active">
                     <div class="AccordianHead">
                        <div class="col-md-8">
                           <span class="ChatCount">7</span>
                           <span class="ChatHeading">Currently served Client’s</span>
                           <span class="ChatEdit"><a href="javascript:;">Edit</a></span>
                           <span class="ChatEdit"><a href="javascript:;">UnPin</a></span>
                        </div>
                        <!-- #col-md-8-->
                        <div class="col-md-4"><a href="javascript:;" class="AccordianToggle"><i class="far fa-chevron-up"></i></a></div>
                        <!-- #col-md-4 -->
                     </div>
                     <!-- #AccordianHead -->
                     <div class="AccordianBody">
                        <div class="ChatTable">
                           <table class="table">
                              <thead>
                                 <tr>
                                    <th scope="col">&nbsp;</th>
                                    <th scope="col">Username</th>
                                    <th scope="col">Continent / Platform</th>
                                    <th scope="col">Online</th>
                                    <th scope="col">Agent</th>
                                    <th scope="col">Viewing</th>
                                    <th scope="col">Referrer</th>
                                    <th scope="col">Visits</th>
                                    <th scope="col">Chats</th>
                                 </tr>
                              </thead>
                              <tbody class="allvisitorsList">
                              </tbody>
                           </table>
                           <div class="loadMoreLinks">
                              <a href="javascript:;">Load more</a>
                              <a href="javascript:;">Show Served</a>
                           </div>
                        </div>
                        <!-- #ChatTable -->
                     </div>
                     <!-- #AccordianBody -->
                  </div>
               </div>
            </div>

         </div>
      </div>
   </div>  
   <% include ./parts/footer.ejs %>
   <script src="/js/agentscriptForChat.js"></script>
   <script>
      function openChatAgent(visitorId){
        $('.userChatPupopWrap').show();
        $('.chatoverlay').show();
        $('#contactsList > ul > li.active').removeClass('active');
        $('#contactsList > ul > li[rel="' + visitorId + '"]').addClass('active');
      }

      $(document).ready(function () {
         //var rowCount = $('table.allvisitorsList > tbody > tr').length;
         var rowCount = $('.allvisitorsList').children('tr').length;
         $('.clientCount').text(rowCount);
      });

   </script>
   </body>
</html>