<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./parts/head.ejs %>

  <style>
    .tooltip {
      position: relative;
      display: inline-block;
      border-bottom: 1px dotted black;
    }
    
    .tooltip .tooltiptext {
      visibility: hidden;
      width: 120px;
      background-color: black;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 5px 0;
      position: absolute;
      z-index: 1;
      top: 150%;
      left: 50%;
      margin-left: -60px;
    }
    
    .tooltip .tooltiptext::after {
      content: "";
      position: absolute;
      bottom: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent black transparent;
    }
    
    .tooltip:hover .tooltiptext {
      visibility: visible;
    }
    </style>
</head>
<body>
    <body>

        <div class="userChatPupopWrap">
            <div class="userChatPupop">
        
              <div id="userChatDashboard">
        
                <div id="sidepanel">
                  <div id="search">
                    <label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
                    <input type="text" placeholder="Search (Press “/“ to focus)" />
                  </div>
                  <div id="contactsList">
                    <ul>
                      <!-- <li class="contact">
                        <div class="wrap">
        
                          <div class="img"> MX </div>
                          <div class="meta">
                            <p class="name">Louis Litt</p>
                            <p class="preview">You just got LITT up, Mike.</p>
                          </div>
                        </div>
                      </li>
                      <li class="contact active">
                        <div class="wrap">
        
                          <div class="img"> MX </div>
                          <div class="meta">
                            <p class="name">Harvey Specter</p>
                            <p class="preview">Wrong. You take the gun, or you pull out a bigger one. Or, you call their bluff. Or, you do any one of a hundred and forty six other things.</p>
                          </div>
                        </div>
                      </li>
                      <li class="contact">
                        <div class="wrap">
        
                          <div class="img"> MX </div>
                          <div class="meta">
                            <p class="name">Rachel Zane</p>
                            <p class="preview">I was thinking that we could have chicken tonight, sounds good?</p>
                          </div>
                        </div>
                      </li>
                      <li class="contact">
                        <div class="wrap">
        
                          <div class="img"> MX </div>
                          <div class="meta">
                            <p class="name">Donna Paulsen</p>
                            <p class="preview">Mike, I know everything! I'm Donna..</p>
                          </div>
                        </div>
                      </li>
                      <li class="contact">
                        <div class="wrap">
        
                          <div class="img"> MX </div>
                          <div class="meta">
                            <p class="name">Jessica Pearson</p>
                            <p class="preview">Have you finished the draft on the Hinsenburg deal?</p>
                          </div>
                        </div>
                      </li>
                      <li class="contact">
                        <div class="wrap">
        
                          <div class="img"> MX </div>
                          <div class="meta">
                            <p class="name">Harold Gunderson</p>
                            <p class="preview">Thanks Mike! :)</p>
                          </div>
                        </div>
                      </li>
                      <li class="contact">
                        <div class="wrap">
                          <div class="img"> MX </div>
                          <div class="meta">
                            <p class="name">Daniel Hardman</p>
                            <p class="preview">We'll meet again, Mike. Tell Jessica I said 'Hi'.</p>
                          </div>
                        </div>
                      </li>
                      <li class="contact">
                        <div class="wrap">
                          <div class="img"> MX </div>
                          <div class="meta">
                            <p class="name">Katrina Bennett</p>
                            <p class="preview">I've sent you the files for the Garrett trial.</p>
                          </div>
                        </div>
                      </li>
                      <li class="contact">
                        <div class="wrap">
                          <div class="img"> MX </div>
                          <div class="meta">
                            <p class="name">Charles Forstman</p>
                            <p class="preview">Mike, this isn't over.</p>
                          </div>
                        </div>
                      </li>
                      <li class="contact">
                        <div class="wrap">
                          <div class="img"> MX </div>
                          <div class="meta">
                            <p class="name">Jonathan Sidwell</p>
                            <p class="preview"><span>You:</span> That's bullshit. This deal is solid.</p>
                          </div>
                        </div>
                      </li> -->
                    </ul>
                  </div>
                </div>
                <!-- sidepanel -->
        
                <div class="content">
                  <div class="contact-profile">
        
                    <h3></h3>
                    <h4><span class="OnlineStatus"></span><label id="visitorTotalTime"></label></h4>
        
                  </div>
                  <div class="messages">
                    <ul>
                    
                    </ul>
                  </div>
                  <div class="message-input">
                    <div class="wrap">
                        <form id="chatForm" action=""  enctype="multipart/form-data" method="POST" autocomplete="off">
                          <input type="hidden" id="repMsgId" name="repMsgId" >
                          <input type="hidden" id="agent" value="<%= user.agent_name %>"/>
                          <input type="hidden" id="agent_id" value="<%= user.agent_id %>"/>
                          <input type="hidden" id="toVisitor">
                          <input type="file" name="file" id="photos-input" /><br>
                      <input type="text" placeholder="Write your message..." id="myMsg" name="myMsg" />
                      <!-- <i class="fa fa-paperclip attachment" aria-hidden="true"></i> -->
                      <button id="sendBtn" class="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                      </form>
                    </div>
                  </div>
                </div>
                <!-- #content -->
        
                <div class="UserDetailsPanel">
                  <div class="user-details">
                    <h3>User Details</h3>
                    <a href="javascript:;" class="btnAction closeWin"><i class="fas fa-times"></i></a>
                    <!-- <a href="javascript:;" class="btnAction"><i class="fas fa-window-minimize"></i></a> -->
                  </div>
                  <!-- #user-details -->
        
                  <div class="UserRightSection">
        
        
        
        
                   <div class="generalInfo">
        
                    <h3>General Information</h3>
                    <ul>
                      <li class="contact">
                        <div class="wrap">
                          <div id="visitorNameInitials" class="img"></div>
                          <div class="meta">
                            <p id="visitorName" class="name"></p>
                            <p class="preview"></p>
                          </div>
                        </div>
                      </li>
        
                    </ul>
        
                    <div class="timeAndLocation">
        
                     <p><span class="far fa-clock"></span><label id="visitorTime"></label></p>
                     <p><span class="far fa-thumbtack"></span><label id="visitorLocation"></label></p>
                   </div>
                   <!-- #timeAndLocation -->
        
                   <img src="/pics/maploc.jpg" alt="-" />                
                 </div>
                 <!-- #generalInfo -->    
        
                 <div class="generalBox">
                  <h3>Visitor Path</h3>
        
        
                  <ul class="listItemsInfo">
                    <li> 
                      <span class="infoText">Sample Page | Preview your c..</span>
                      <span class="infoDetail">
                        <a href="javascript:;">https://uptownlogodesign.com</a></span>
                      </li>
                      <li> 
                        <span class="infoText">Sample Page | Preview your c..</span>
                        <span class="infoDetail">
                          <a href="javascript:;">https://uptownlogodesign.com</a></span>
                        </li>
                        <li> 
                          <span class="infoText">Sample Page | Preview your c..</span>
                          <span class="infoDetail">
                            <a href="javascript:;">https://uptownlogodesign.com</a></span>
                          </li>
                        </ul>
        
                      </div>
                      <!-- #generalBox -->
        
                      <div class="generalBox blue">
                        <h3>Instant Links</h3>
                        <img src="/pics/projectform.jpg" class="padding" />
                      </div>
                      <!-- #generalBox -->
        
                      <div class="generalBox">
                        <h3>Technology</h3>
        
        
                        <ul class="listItemsInfo">
                          <li> 
                            <span class="infoText">IP Address:</span>
                            <span class="infoDetail">
                              <a id="visitorIpAddress" href="javascript:;"></a></span>
                            </li>
                            <li> 
                              <span class="infoText">Os device:</span>
                              <span class="infoDetail">
                                <a id="visitorOS" href="javascript:;"></a></span>
                              </li>
                              <li> 
                                <span class="infoText">Browser:</span>
                                <span class="infoDetail">
                                  <a id="visitorBrowser" href="javascript:;"></a></span>
                                </li>
                                <li> 
                                  <span class="infoText">Platform:</span>
                                  <span class="infoDetail">
                                    <a id="visitorPlatform" href="javascript:;"></a></span>
                                  </li>
                                </ul>
        
        
                              </div>
                              <!-- #generalBox -->
        
                              <br><br><br><br><br><br><br>
        
                            </div>   
                            <!-- #UserRightSection--> 
        
                          </div>
                          <!-- #UserDetailsPanel -->
        
                        </div>  
                        <!-- #userChatDashboard -->           
        
                      </div>
                      <!--# userChatPupop-->
                    </div>
                    <!-- #userChatPupop -->
        
                    
                    <div class="chatoverlay"></div>

        <div class="container-fluid">
                
            <div class="chatMainWrap">
            <div class="col-md-2 menuSection">
                
                <div class="TopSpace"></div>
                
                <h3 class="menuHeading">Main Navigation</h3>
                
                <ul class="mainMenuUL">
                    <li><a href="javascript:;"><i class="fad fa-chart-bar"></i> Home Dashboard</a></li>
                    <li><a href="javascript:;"><i class="far fa-repeat"></i> Visitors</a>
                        <ul class="subMenuUL">
                        <li><a href="javascript:;">Served (4)</a></li>
                        <li><a href="javascript:;">Active</a></li>
                        </ul>
                        <!-- #subMenuUL -->
                    </li>
                    <li><a class="openchat" href="javascript:;"><i class="far fa-user"></i> Chats</a></li>
                </ul>
                <!-- #mainMenuUL -->
                
                <h3 class="menuHeading">Analytics &amp; Reports</h3>
                <ul class="mainMenuUL">
                    <li><a href="javascript:;"><i class="far fa-alarm-clock"></i> History</a></li>
                    <li><a href="javascript:;"><i class="fas fa-chart-pie-alt"></i> Analytics &amp; Reports</a></li>
                    <li><a href="javascript:;"><i class="far fa-tv"></i> Monitor</a></li>
                    <li><a href="javascript:;"><i class="fal fa-cog"></i> Settings</a></li>
                        
                </ul>
                 <!-- #mainMenuUL -->
                
                    
                </div>
                <!-- #col-md-3 -->
            
                
                <div class="col-md-10 mainBody">
                    
                    
                    <div class="row">
                        
                        <div class="col-md-8">
                                 
                    <div class="topMainLeftBody">
                    <a href="javascript:;" class="backLink"><i class="fal fa-arrow-left"></i></a>
                        
                    <a href="javascript:;" class="colorMode"><i class="far fa-moon-stars"></i></a>    
                        
                    <div class="topSmallMenu">
                        <ul>
                        <li><a href="javscript:;">Projects <i class="far fa-chevron-down"></i></a></li>
                        <li><a href="javscript:;">Uptown Motions (um)</a></li>
                        <li><a href="javscript:;">Uptown Logo (ut)</a></li>
                        </ul>
                    </div>
                        <!-- #topSmallMenu -->
                        
                       <a href="javascript:;" class="addMore"><i class="fal fa-plus"></i></i></a>    
                        
                    </div>
                    <!-- topMainBody -->
                        
                    </div>
                    <!-- col-md-8 -->
                    
                    <div class="col-md-4">
                        <div class="topMainRightBody">
                            <div class="notificationWrap">
                        <a href="javascript:;" class="notificationBell"><i class="fal fa-bell"></i> <span class="notificationType"></span></a>
                            </div>
                            <!-- #notificationWrap -->
                            
                            <div class="userSettingMenu">
                                <a href="javascript:;" class="UserProfile">
                                    <span class="UserPic"><img src="/pics/chatUser.jpg" alt="-" /> <span class="UserStatus"></span></span>
                                    <span class="UserTxt">Hi, Vernon Klein</span>
                                    
                                </a>
                            </div>
                            <!-- #userSettingMenu -->
                            
                            
                            
                            
                            
                            
                            
                            
                        </div>
                        <!-- #topMainLeftBody -->
                    </div>
                    
                    
                    
                    
                    
                    
                    </div>
                    <!-- row topMenu -->
                
                
                <div class="row">
                    <div class="headingFilter">
                        
                    <div class="col-md-8">
                        <h3>Total Client’s <span class="clientCount">(24)</span> </h3>
                        </div>
                        <!-- col-md-6 -->
                        
                    <div class="col-md-4">
                        <div class="bothSelect">
                        <span class="SelectFilter">
                             
                        <select class="form-control ">
                            <option>Group by Activity</option>
                            <option>Group by Activity</option>
                            <option>Group by Activity</option>
                            <option>Group by Activity</option>
                            <option>Group by Activity</option>
                            <option>Group by Activity</option>
                            <option>Group by Activity</option>
                        </select>
                        
                        </span>
                        <!-- #SelectFilter -->
                        
                        
                        <span class="SelectFilter">
                             
                        <select class="form-control ">
                            <option>List view</option>
                            <option>List view</option>
                            <option>List view</option>
                            <option>List view</option>
                            <option>List view</option>
                            <option>List view</option>
                            <option>List view</option>
                        </select>
                        
                        </span>
                        <!-- #SelectFilter -->
                            
                        </div>
                        <!-- #bothSelect -->
                        
                        </div>
                        <!-- col-md-6 -->
                        
                    </div>
                    <!-- #headingFilter -->
                </div>
                <!-- row -->
                
                
                
                
                
                <div class="ChatListing">
                    <div class="row">
                        <div class="AccordianChat active">
                            <div class="AccordianHead">
                                <div class="col-md-8">
                                    <span class="ChatCount">7</span>
                                    <span class="ChatHeading">Currently served Client’s</span>
                                    <span class="ChatEdit"><a href="javascript:;">Edit</a></span>
                                    <span class="ChatEdit"><a href="javascript:;">UnPin</a></span>
                                    
                                </div>
                                <!-- #col-md-8-->
                                <div class="col-md-4"><a href="javascript:;" class="AccordianToggle"><i class="far fa-chevron-up"></i></a></div>
                                <!-- #col-md-4 -->
                            </div>
                            <!-- #AccordianHead -->
                            
                            
                            <div class="AccordianBody">
                                            
                                <div class="ChatTable">
                                    
                                     <table class="table">
                                      <thead>
                                        <tr>
                                          <th scope="col">&nbsp;</th>
                                          <th scope="col">Username</th>
                                          <th scope="col">Continent / Platform</th>
                                          <th scope="col">Online</th>
                                            <th scope="col">Agent</th>
                                            <th scope="col">Viewing</th>
                                            <th scope="col">Referrer</th>
                                            <th scope="col">Visits</th>
                                            <th scope="col">Chats</th>
                                        </tr>
                                      </thead>
                                      <tbody>
          
                                       
                                      </tbody>
                                    </table>
                                    
                                    <div class="loadMoreLinks">
                                        <a href="javascript:;">Load more</a>
                                        <a href="javascript:;">Show Served</a>
                                    </div>
                                    
                                </div>
                                <!-- #ChatTable -->
                                
                            </div>
                            <!-- #AccordianBody -->
                            
                            
                        </div>
                        <!-- #AccordianChat -->

                   
                        
                        
                        
                        
                         <div class="AccordianChat ">
                            <div class="AccordianHead">
                                <div class="col-md-8">
                                    <span class="ChatCount">7</span>
                                    <span class="ChatHeading">Currently served Client’s</span>
                                    <span class="ChatEdit"><a href="javascript:;">Edit</a></span>
                                    <span class="ChatEdit"><a href="javascript:;">Pin</a></span>
                                    
                                </div>
                                <!-- #col-md-8-->
                                <div class="col-md-4"><a href="javascript:;" class="AccordianToggle"><i class="far fa-chevron-up"></i></a></div>
                                <!-- #col-md-4 -->
                            </div>
                            <!-- #AccordianHead -->
                            
                            
                            <div class="AccordianBody">
                                            
                                <div class="ChatTable">
                                    
                                     <table class="table">
                                      <thead>
                                        <tr>
                                          <th scope="col">&nbsp;</th>
                                          <th scope="col">Username</th>
                                          <th scope="col">Continent / Platform</th>
                                          <th scope="col">Online</th>
                                            <th scope="col">Agent</th>
                                            <th scope="col">Viewing</th>
                                            <th scope="col">Referrer</th>
                                            <th scope="col">Visits</th>
                                            <th scope="col">Chats</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr>
                                            <td><a href="javascript:;"><img src="/pics/clickicon.png" alt="-" /></a></td>
                                            <td><span class="userNameIntable">Chad Watts</span></td>
                                            <td><img src="/pics/statsintable.jpg" alt="-" /></td>
                                            <td>1hr 3 mins</td>
                                            <td>Scott Perez</td>
                                            <td>Uptn Logo Design | Client Area..</td>
                                            <td><img src="/pics/gicon.png" alt="-" />  google.com</td>
                                            <td>99</td>
                                            <td>1</td>
                                        </tr>
                                          <tr>
                                            <td><a href="javascript:;"><img src="/pics/clickicon.png" alt="-" /></a></td>
                                            <td><span class="userNameIntable">Chad Watts</span></td>
                                            <td><img src="/pics/statsintable.jpg" alt="-" /></td>
                                            <td>1hr 3 mins</td>
                                            <td>Scott Perez</td>
                                            <td>Uptown Logo Design | Client Area..</td>
                                            <td><img src="/pics/gicon.png" alt="-" />  google.com</td>
                                            <td>99</td>
                                            <td>1</td>
                                        </tr>
                                          <tr>
                                            <td><a href="javascript:;"><img src="/pics/clickicon.png" alt="-" /></a></td>
                                            <td><span class="userNameIntable">Chad Watts</span></td>
                                            <td><img src="/pics/statsintable.jpg" alt="-" /></td>
                                            <td>1hr 3 mins</td>
                                            <td>Scott Perez</td>
                                            <td>Uptown Logo Design | Client Area..</td>
                                            <td><img src="/pics/gicon.png" alt="-" />  google.com</td>
                                            <td>99</td>
                                            <td>1</td>
                                        </tr>
                                          <tr>
                                            <td><a href="javascript:;"><img src="/pics/clickicon.png" alt="-" /></a></td>
                                            <td><span class="userNameIntable">Chad Watts</span></td>
                                            <td><img src="/pics/statsintable.jpg" alt="-" /></td>
                                            <td>1hr 3 mins</td>
                                            <td>Scott Perez</td>
                                            <td>Uptown Logo Design | Client Area..</td>
                                            <td><img src="/pics/gicon.png" alt="-" />  google.com</td>
                                            <td>99</td>
                                            <td>1</td>
                                        </tr>
                                          <tr>
                                            <td><a href="javascript:;"><img src="/pics/clickicon.png" alt="-" /></a></td>
                                            <td><span class="userNameIntable">Chad Watts</span></td>
                                            <td><img src="/pics/statsintable.jpg" alt="-" /></td>
                                            <td>1hr 3 mins</td>
                                            <td>Scott Perez</td>
                                            <td>Uptown Logo Design | Client Area..</td>
                                            <td><img src="/pics/gicon.png" alt="-" />  google.com</td>
                                            <td>99</td>
                                            <td>1</td>
                                        </tr>
                                          <tr>
                                            <td><a href="javascript:;"><img src="/pics/clickicon.png" alt="-" /></a></td>
                                            <td><span class="userNameIntable">Chad Watts</span></td>
                                            <td><img src="/pics/statsintable.jpg" alt="-" /></td>
                                            <td>1hr 3 mins</td>
                                            <td>Scott Perez</td>
                                            <td>Uptown Logo Design | Client Area..</td>
                                            <td><img src="/pics/gicon.png" alt="-" />  google.com</td>
                                            <td>99</td>
                                            <td>1</td>
                                        </tr>
                                          <tr>
                                            <td><a href="javascript:;"><img src="/pics/clickicon.png" alt="-" /></a></td>
                                            <td><span class="userNameIntable">Chad Watts</span></td>
                                            <td><img src="/pics/statsintable.jpg" alt="-" /></td>
                                            <td>1hr 3 mins</td>
                                            <td>Scott Perez</td>
                                            <td>Uptown Logo Design | Client Area..</td>
                                            <td><img src="/pics/gicon.png" alt="-" />  google.com</td>
                                            <td>99</td>
                                            <td>1</td>
                                        </tr>
                                       
                                      </tbody>
                                    </table>
                                    
                                    <div class="loadMoreLinks">
                                        <a href="javascript:;">Load more</a>
                                        <a href="javascript:;">Show Served</a>
                                    </div>
                                    
                                </div>
                                <!-- #ChatTable -->
                                
                            </div>
                            <!-- #AccordianBody -->
                            
                            
                        </div>
                        <!-- #AccordianChat -->
                        
                        
                         
                         <div class="AccordianChat ">
                            <div class="AccordianHead">
                                <div class="col-md-8">
                                    <span class="ChatCount">12</span>
                                    <span class="ChatHeading">Currently served Client’s</span>
                                    <span class="ChatEdit"><a href="javascript:;">Edit</a></span>
                                    <span class="ChatEdit"><a href="javascript:;">Pin</a></span>
                                    
                                </div>
                                <!-- #col-md-8-->
                                <div class="col-md-4">
                                    <a href="javascript:;" class="AccordianToggle"><i class="far fa-chevron-up"></i></a>
                                </div>
                                <!-- #col-md-4 -->
                            </div>
                            <!-- #AccordianHead -->
                            
                            
                            <div class="AccordianBody">
                                            
                                <div class="ChatTable">
                                    
                                     <table class="table">
                                      <thead>
                                        <tr>
                                          <th scope="col">&nbsp;</th>
                                          <th scope="col">Username</th>
                                          <th scope="col">Continent / Platform</th>
                                          <th scope="col">Online</th>
                                            <th scope="col">Agent</th>
                                            <th scope="col">Viewing</th>
                                            <th scope="col">Referrer</th>
                                            <th scope="col">Visits</th>
                                            <th scope="col">Chats</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr>
                                            <td><a href="javascript:;"><img src="/pics/clickicon.png" alt="-" /></a></td>
                                            <td><span class="userNameIntable">Chad Watts</span></td>
                                            <td><img src="/pics/statsintable.jpg" alt="-" /></td>
                                            <td>1hr 3 mins</td>
                                            <td>Scott Perez</td>
                                            <td>Uptown Logo Design | Client Area..</td>
                                            <td><img src="/pics/gicon.png" alt="-" />  google.com</td>
                                            <td>99</td>
                                            <td>1</td>
                                        </tr>
                                          <tr>
                                            <td><a href="javascript:;"><img src="/pics/clickicon.png" alt="-" /></a></td>
                                            <td><span class="userNameIntable">Chad Watts</span></td>
                                            <td><img src="/pics/statsintable.jpg" alt="-" /></td>
                                            <td>1hr 3 mins</td>
                                            <td>Scott Perez</td>
                                            <td>Uptown Logo Design | Client Area..</td>
                                            <td><img src="/pics/gicon.png" alt="-" />  google.com</td>
                                            <td>99</td>
                                            <td>1</td>
                                        </tr>
                                          <tr>
                                            <td><a href="javascript:;"><img src="/pics/clickicon.png" alt="-" /></a></td>
                                            <td><span class="userNameIntable">Chad Watts</span></td>
                                            <td><img src="/pics/statsintable.jpg" alt="-" /></td>
                                            <td>1hr 3 mins</td>
                                            <td>Scott Perez</td>
                                            <td>Uptown Logo Design | Client Area..</td>
                                            <td><img src="/pics/gicon.png" alt="-" />  google.com</td>
                                            <td>99</td>
                                            <td>1</td>
                                        </tr>
                                          <tr>
                                            <td><a href="javascript:;"><img src="/pics/clickicon.png" alt="-" /></a></td>
                                            <td><span class="userNameIntable">Chad Watts</span></td>
                                            <td><img src="/pics/statsintable.jpg" alt="-" /></td>
                                            <td>1hr 3 mins</td>
                                            <td>Scott Perez</td>
                                            <td>Uptown Logo Design | Client Area..</td>
                                            <td><img src="/pics/gicon.png" alt="-" />  google.com</td>
                                            <td>99</td>
                                            <td>1</td>
                                        </tr>
                                          <tr>
                                            <td><a href="javascript:;"><img src="/pics/clickicon.png" alt="-" /></a></td>
                                            <td><span class="userNameIntable">Chad Watts</span></td>
                                            <td><img src="/pics/statsintable.jpg" alt="-" /></td>
                                            <td>1hr 3 mins</td>
                                            <td>Scott Perez</td>
                                            <td>Uptown Logo Design | Client Area..</td>
                                            <td><img src="/pics/gicon.png" alt="-" />  google.com</td>
                                            <td>99</td>
                                            <td>1</td>
                                        </tr>
                                          <tr>
                                            <td><a href="javascript:;"><img src="/pics/clickicon.png" alt="-" /></a></td>
                                            <td><span class="userNameIntable">Chad Watts</span></td>
                                            <td><img src="/pics/statsintable.jpg" alt="-" /></td>
                                            <td>1hr 3 mins</td>
                                            <td>Scott Perez</td>
                                            <td>Uptown Logo Design | Client Area..</td>
                                            <td><img src="/pics/gicon.png" alt="-" />  google.com</td>
                                            <td>99</td>
                                            <td>1</td>
                                        </tr>
                                          <tr>
                                            <td><a href="javascript:;"><img src="/pics/clickicon.png" alt="-" /></a></td>
                                            <td><span class="userNameIntable">Chad Watts</span></td>
                                            <td><img src="/pics/statsintable.jpg" alt="-" /></td>
                                            <td>1hr 3 mins</td>
                                            <td>Scott Perez</td>
                                            <td>Uptown Logo Design | Client Area..</td>
                                            <td><img src="/pics/gicon.png" alt="-" />  google.com</td>
                                            <td>99</td>
                                            <td>1</td>
                                        </tr>
                                       
                                      </tbody>
                                    </table>
                                    
                                    <div class="loadMoreLinks">
                                        <a href="javascript:;">Load more</a>
                                        <a href="javascript:;">Show Served</a>
                                    </div>
                                    
                                </div>
                                <!-- #ChatTable -->
                                
                            </div>
                            <!-- #AccordianBody -->
                            
                            
                        </div>
                        <!-- #AccordianChat -->
                        
                        
                         
                         <div class="AccordianChat ">
                            <div class="AccordianHead">
                                <div class="col-md-8">
                                    <span class="ChatCount">39</span>
                                    <span class="ChatHeading">Currently served Client’s</span>
                                    <span class="ChatEdit"><a href="javascript:;">Edit</a></span>
                                    <span class="ChatEdit"><a href="javascript:;">Pin</a></span>
                                    
                                </div>
                                <!-- #col-md-8-->
                                <div class="col-md-4"><a href="javascript:;" class="AccordianToggle"><i class="far fa-chevron-up"></i></a></div>
                                <!-- #col-md-4 -->
                            </div>
                            <!-- #AccordianHead -->
                            
                            
                            <div class="AccordianBody">
                                            
                                <div class="ChatTable">
                                    
                                     <table class="table">
                                      <thead>
                                        <tr>
                                          <th scope="col">&nbsp;</th>
                                          <th scope="col">Username</th>
                                          <th scope="col">Continent / Platform</th>
                                          <th scope="col">Online</th>
                                            <th scope="col">Agent</th>
                                            <th scope="col">Viewing</th>
                                            <th scope="col">Referrer</th>
                                            <th scope="col">Visits</th>
                                            <th scope="col">Chats</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr>
                                            <td><a href="javascript:;"><img src="/pics/clickicon.png" alt="-" /></a></td>
                                            <td><span class="userNameIntable">Chad Watts</span></td>
                                            <td><img src="/pics/statsintable.jpg" alt="-" /></td>
                                            <td>1hr 3 mins</td>
                                            <td>Scott Perez</td>
                                            <td>Uptown Logo Design | Client Area..</td>
                                            <td><img src="/pics/gicon.png" alt="-" />  google.com</td>
                                            <td>99</td>
                                            <td>1</td>
                                        </tr>
                                          <tr>
                                            <td><a href="javascript:;"><img src="/pics/clickicon.png" alt="-" /></a></td>
                                            <td><span class="userNameIntable">Chad Watts</span></td>
                                            <td><img src="/pics/statsintable.jpg" alt="-" /></td>
                                            <td>1hr 3 mins</td>
                                            <td>Scott Perez</td>
                                            <td>Uptown Logo Design | Client Area..</td>
                                            <td><img src="/pics/gicon.png" alt="-" />  google.com</td>
                                            <td>99</td>
                                            <td>1</td>
                                        </tr>
                                          <tr>
                                            <td><a href="javascript:;"><img src="/pics/clickicon.png" alt="-" /></a></td>
                                            <td><span class="userNameIntable">Chad Watts</span></td>
                                            <td><img src="/pics/statsintable.jpg" alt="-" /></td>
                                            <td>1hr 3 mins</td>
                                            <td>Scott Perez</td>
                                            <td>Uptown Logo Design | Client Area..</td>
                                            <td><img src="/pics/gicon.png" alt="-" />  google.com</td>
                                            <td>99</td>
                                            <td>1</td>
                                        </tr>
                                          <tr>
                                            <td><a href="javascript:;"><img src="/pics/clickicon.png" alt="-" /></a></td>
                                            <td><span class="userNameIntable">Chad Watts</span></td>
                                            <td><img src="/pics/statsintable.jpg" alt="-" /></td>
                                            <td>1hr 3 mins</td>
                                            <td>Scott Perez</td>
                                            <td>Uptown Logo Design | Client Area..</td>
                                            <td><img src="/pics/gicon.png" alt="-" />  google.com</td>
                                            <td>99</td>
                                            <td>1</td>
                                        </tr>
                                          <tr>
                                            <td><a href="javascript:;"><img src="/pics/clickicon.png" alt="-" /></a></td>
                                            <td><span class="userNameIntable">Chad Watts</span></td>
                                            <td><img src="/pics/statsintable.jpg" alt="-" /></td>
                                            <td>1hr 3 mins</td>
                                            <td>Scott Perez</td>
                                            <td>Uptown Logo Design | Client Area..</td>
                                            <td><img src="/pics/gicon.png" alt="-" />  google.com</td>
                                            <td>99</td>
                                            <td>1</td>
                                        </tr>
                                          <tr>
                                            <td><a href="javascript:;"><img src="/pics/clickicon.png" alt="-" /></a></td>
                                            <td><span class="userNameIntable">Chad Watts</span></td>
                                            <td><img src="/pics/statsintable.jpg" alt="-" /></td>
                                            <td>1hr 3 mins</td>
                                            <td>Scott Perez</td>
                                            <td>Uptown Logo Design | Client Area..</td>
                                            <td><img src="/pics/gicon.png" alt="-" />  google.com</td>
                                            <td>99</td>
                                            <td>1</td>
                                        </tr>
                                          <tr>
                                            <td><a href="javascript:;"><img src="/pics/clickicon.png" alt="-" /></a></td>
                                            <td><span class="userNameIntable">Chad Watts</span></td>
                                            <td><img src="/pics/statsintable.jpg" alt="-" /></td>
                                            <td>1hr 3 mins</td>
                                            <td>Scott Perez</td>
                                            <td>Uptown Logo Design | Client Area..</td>
                                            <td><img src="/pics/gicon.png" alt="-" />  google.com</td>
                                            <td>99</td>
                                            <td>1</td>
                                        </tr>
                                       
                                      </tbody>
                                    </table>
                                    
                                    <div class="loadMoreLinks">
                                        <a href="javascript:;">Load more</a>
                                        <a href="javascript:;">Show Served</a>
                                    </div>
                                    
                                </div>
                                <!-- #ChatTable -->
                                
                            </div>
                            <!-- #AccordianBody -->
                            
                            
                        </div>
                        <!-- #AccordianChat -->
                        
                    </div>
                    <!-- row -->
                                     
                    
                </div>
                <!-- #ChatListing -->
                
                
                
                </div>
                <!-- #col-md-10 -->
                
            </div>
            <!-- #chatMainWrap -->
            
            
            
           
            </div>
            <!-- container-fluid -->
        
        </body>

  <% include ./parts/footer.ejs %>

  <script src="/js/agentscriptForChat.js"></script>


</body>
</html>
