<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./parts/head.ejs %>
  <% if(user.visitor_name != null){ %>
    <link rel="stylesheet" href="/css/widget.css"> 
    <% } %>
</head>
<body>

    <input type="hidden" id="visitor" value="<%= user.visitor_name %>"/>
    <input type="hidden" id="visitor_id" value="<%= user.visitor_id %>"/>

<div id="chatframe" class="chatWidget">

  <div id="frame">
    <div class="content">
      <div class="contact-profile">
        <img src="pics/agent.jpg" alt="" />
        <p>
                 <span class="AgentName">Live Support</span>
                  <span class="AgentText">Questions? we are here to help</span>
              </p>
              <a href="javascript:;" class="minimizeChat"><span class="fa fa-window-minimize"></span></a>
      </div>
      <div class="messages">
          <div class="panel-body" id="scrl3">
        <ul id="messages">
 
        </ul>
      </div>
      </div>
      <div class="message-input">
          <form id="visitorchatForm" action="" enctype="multipart/form-data" method="POST">
            <input type="hidden" id="repMsgId" name="repMsgId" >
        <div class="wrap">
            <input type="file" name="file" id="photos-input" />
        <input type="text"  id="myMsg"  name="myMsg" placeholder="Write your message..." />
        <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
        <button id="sendBtn" class="submit">send</button>
        </div>
      </form>
      </div>
    </div>
  </div>

</div>

  <% include ./parts/footer.ejs %>
    <script src="/js/visitorscriptForChat.js"></script>

</body>
</html>
